<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-4">
            <!-- Login Button -->
            <div class="d-flex align-items-center gap-2">
                <button class="btn btn-link text-primary p-0 text-decoration-none">{{"login" | translate}}</button>
                <img src="../../../../assets/images/login.svg" alt="login">
            </div>

            <!-- Language Dropdown -->
            <div class="dropdown">
                <div class="d-flex align-items-center gap-2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="../../../../assets/images/arrowDown.svg" alt="language arrow" class="w-4 h-4">
                    <span>{{ lang == "en" ? "English" : "Arabic" }}</span>
                    <img src="../../../../assets/images/icon _language square_.svg" alt="language">
                </div>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="#" (click)="changeLanguage('en')">English</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" (click)="changeLanguage('ar')">Arabic</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Home Button -->
        <div class="d-flex">
            <a routerLink="/" class="btn btn-link text-secondary fs-4 p-0 text-decoration-none">{{"home_page" |
                translate}}</a>
        </div>

        <!-- Logo -->
        <div>
            <img src="../../../../assets/images/logo.png" alt="logo" class="img-fluid">
        </div>
    </div>
</nav>