<!-- Hero Section -->
<div class="text-center py-5 custom-landing">
    <h1 class="text-white display-4 font-weight-bold mb-3">
        {{ "investment_opportunities_exhibition" | translate }}
    </h1>
    <p class="text-white mx-3">
        {{ "description_landing" | translate }}
    </p>
    <button type="button" class="btn btn-outline-light mt-4 font-weight-semibold px-4 py-2 rounded-lg"
        (click)="showFilter = !showFilter">
        {{"advanced_search" | translate}}
    </button>
</div>

<!-- Filter Section -->
<div *ngIf="showFilter" class="mt-4 bg-white p-4 rounded-lg shadow-sm w-100">
    <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="category">{{ "select_category" | translate }}</label>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-select formControlName="category">
                            <div *ngFor="let options of cardService.data">
                                <mat-option *ngIf="options.category?.id" value="{{ options.category?.id }}">
                                    {{ options.category?.id }}
                                </mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="keySearch">{{ "key_search" | translate }}</label>
                    <mat-form-field appearance="fill" class="w-100">
                        <input matInput formControlName="keySearch" class="form-control" placeholder="{{
                            translate.currentLang == 'en' ? 'Search ...' : 'ابحث ...'
                        }}" />
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="economicActivity">{{ "economic_activity" | translate }}</label>
                    <mat-form-field appearance="fill" class="w-100">
                        <input matInput formControlName="economicActivity" class="form-control" placeholder="{{
                            translate.currentLang == 'en' ? 'Enter economic activity ...' : 'أدخل قيمة استثمارية ...'
                        }}" />
                    </mat-form-field>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="opportunityStatus">{{ "opportunity_status" | translate }}</label>
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-select formControlName="opportunityStatus">
                            <mat-option>Waiting</mat-option>
                            <mat-option>Submitted</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class=" btn custom-button mt-4 font-weight-semibold px-4 py-2 rounded-lg">
                {{ "apply_filter" | translate }}
            </button>
        </div>
    </form>
</div>

<app-investment-opportunities-card></app-investment-opportunities-card>