<div class="bg-gradient-to-r from-background_gradiant_from to-background_gradiant_to text-center py-10">
    <h1 class="text-white text-3xl font-bold mb-4">
        {{ "investment_opportunities_exhibition" | translate }}
    </h1>
    <p class="text-white mx-10">{{ "description_landing" | translate }}</p>

    <button type="button"
        class="mt-6 bg-transparent text-white border-x-2 border-y-2 border-white font-semibold py-2 px-6 rounded-lg transition duration-300"
        (click)="showFilter = !showFilter">
        البحث المتقدم
    </button>
</div>
<!-- Filter Section -->
<div *ngIf="showFilter" class="mt-6 bg-white p-4 rounded-lg shadow-md w-full">
    <form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
        <div class="flex flex-wrap gap-4">
            <mat-form-field appearance="fill" class="flex-[0_0_48%]">
                <mat-label>{{ "select_category" | translate }}</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let options of cardService.data" value="{{ options.category?.id }}">
                        {{ options.category?.id?? ''}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="flex-[0_0_48%]">
                <mat-label>{{ "key_search" | translate }}</mat-label>
                <input matInput formControlName="keySearch" placeholder="{{
            translate.currentLang == 'en' ? 'Search ...' : 'ابحث ...'
          }}" />
            </mat-form-field>

            <mat-form-field appearance="fill" class="flex-[0_0_48%]">
                <mat-label>{{ "economic_activity" | translate }}</mat-label>
                <input matInput formControlName="economicActivity" placeholder="{{
            translate.currentLang == 'en'
              ? 'Enter economic activity ...'
              : 'أدخل قيمة استثمارية ...'
          }}" />
            </mat-form-field>


            <mat-form-field appearance="fill" class="flex-[0_0_48%]">
                <mat-label>{{ "opportunity_status" | translate }}</mat-label>
                <mat-select formControlName="opportunityStatus">
                    <mat-option value="waiting">waiting</mat-option>
                    <mat-option value="submitted">submitted</mat-option>
                </mat-select>
            </mat-form-field>

        </div>

        <div class="text-center">
            <button type="submit"
                class="mt-6 bg-white text-blue-500 font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-blue-50 transition duration-300 custom">
                {{ "apply_filter" | translate }}
            </button>
        </div>
    </form>
</div>

<app-investment-opportunities-card></app-investment-opportunities-card>