<!-- Top Section: Image Slider -->
<div class="w-100 ">
    <div class="swiper-container">
        <swiper-container pagination="true" pagination-clickable="true" navigation="true" navigation-clickable="true"
            lazy="loading">
            <swiper-slide *ngFor="let image of dataDetails.images">
                <img src="{{image.image_url}}" alt="{{image.title}}" class="w-100 object-cover custom-image"
                    loading="lazy" />
            </swiper-slide>
            <swiper-slide *ngIf="(dataDetails.images?.length ?? 0) < 1">
                <img src="../../../../assets/images/details-landing.png" class="w-100 object-cover custom-image"
                    alt="landing" />
            </swiper-slide>
        </swiper-container>
    </div>
</div>

<!-- Main Content Section -->
<div class="container mt-5">
    <!-- Info Box and Tabs -->
    <h2 class="text-2xl font-weight-bold mb-4 custom-heading text-dark">{{ dataDetails.title }}</h2>
    <div class="d-flex flex-column flex-md-row pb-4 gap-4">
        <!-- Info Box -->
        <div class="bg-white shadow-sm p-4 w-fit w-md-33 rounded border border-light position-relative custom-box-container"
            style="z-index: 10;">
            <div class="custom-box text-end">
                <div>
                    <p class="d-flex justify-content-end">
                        <span class="ml-auto">{{"date_added" | translate}}</span>
                        <lucide-icon name="map-pin"></lucide-icon>
                    </p>
                    <p class="font-weight-bold pr-4">{{dataDetails.date}}</p>
                </div>
                <div>
                    <p class="d-flex justify-content-end">
                        <span class="ml-auto">{{"opportunity_number" | translate}}</span>
                        <lucide-icon name="map-pin"></lucide-icon>
                    </p>
                    <p class="font-weight-bold pr-4">{{dataDetails.id}}</p>
                </div>
                <div>
                    <p class="d-flex justify-content-end">
                        <span class="ml-auto">{{"implementation_period" | translate}}</span>
                        <lucide-icon name="map-pin"></lucide-icon>
                    </p>
                    <p class="font-weight-bold pr-4">{{ dataDetails.duration_implementation }}</p>
                </div>
                <div>
                    <p class="d-flex justify-content-end">
                        <span class="ml-auto">{{"sector" | translate}}</span>
                        <lucide-icon name="map-pin"></lucide-icon>
                    </p>
                    <p class="font-weight-bold pr-4">{{ dataDetails.sector_en }}</p>
                </div>
                <div>
                    <p class="d-flex justify-content-end">
                        <span class="ml-auto">{{"internal_rate_of_return" | translate}}</span>
                        <lucide-icon name="map-pin"></lucide-icon>
                    </p>
                    <p class="font-weight-bold pr-4">{{dataDetails.internal_rate_return}}</p>
                </div>
                <div>
                    <p class="d-flex justify-content-end">
                        <span class="ml-auto">{{"investment_value" | translate}}</span>
                        <lucide-icon name="map-pin"></lucide-icon>
                    </p>
                    <p class="font-weight-bold pr-4">{{ dataDetails.internal_rate_return }}</p>
                </div>
                <div>
                    <p class="d-flex justify-content-end">
                        <span class="ml-auto">{{"economic_value" | translate}}</span>
                        <lucide-icon name="map-pin"></lucide-icon>
                    </p>
                    <p class="font-weight-bold pr-4">{{ dataDetails.economic_activity }}</p>
                </div>
                <div>
                    <p class="d-flex justify-content-end">
                        <span class="ml-auto">{{"financing_service_required" |translate}}</span>
                        <lucide-icon name="map-pin"></lucide-icon>
                    </p>
                    <p class="font-weight-bold pr-4">{{ dataDetails.service }}</p>
                </div>
            </div>
            <div class="text-center mt-4">
                <button class="btn custom-button-secondary text-white rounded px-4 py-2">
                    {{"buy_project_details" |translate}}
                </button>
            </div>
        </div>

        <!-- Tabs -->
        <div class="flex-grow-1 mt-4 mt-md-0 ml-md-4">
            <mat-tab-group>
                <mat-tab label="{{'location_tab' | translate}}">
                    <app-location [locationData]="dataDetails"></app-location>
                </mat-tab>
                <mat-tab label="{{'files_tab' | translate}}">
                    <app-files [files]="dataDetails.files"></app-files>
                </mat-tab>
                <mat-tab label="{{'description_tab' | translate}}">
                    <app-description [title]="dataDetails.title"
                        [description]="dataDetails.description"></app-description>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>