<!-- Search Section -->
<div class="mt-5">

    <label for="search" class="d-block fw-semibold fs-5 my-3 mx-3">{{"location_tab" | translate}}</label>
    <div class="mb-4 p-relative">
        <input type="text" id="search"
            placeholder="{{translate.currentLang == 'en' ? 'Search Location' : 'ابحث عن موقع'}}"
            class="form-control border border-secondary rounded py-2 px-3">
    </div>

    <!-- Map Section -->
    <div class=" mt-4 w-100 bg-light rounded overflow-hidden" style="height: 382px;">
        <google-map height="100%" width="100%" [center]="locationData.center" [zoom]="locationData.zoom">
            <map-marker [position]="locationData.markerPosition" [options]="locationData.markerOptions"></map-marker>
        </google-map>
    </div>
</div>