<h1 class="my-4 mx-3 text-end fs-5 fw-semibold">{{"files_tab" | translate}}</h1>

<table class="table table-bordered w-100">
    <thead class="table-light text-center">
        <tr class="text-muted">
            <th class="py-2 px-3">Download</th>
            <th class="py-2 px-3">File Name</th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center align-middle hover-bg-light" *ngFor="let file of files">
            <td class="py-2 px-3">
                <a href="#" class="text-dark text-decoration-none" (click)="onDownload(file?.image)">
                    <lucide-icon name="download" class="mx-auto"></lucide-icon>
                </a>
            </td>
            <td class="py-2 px-3">{{ extractFileName(file?.image_url) }}</td>
        </tr>
    </tbody>
</table>