<div class="px-9">
    <div class="d-flex justify-content-center align-items-center gap-3 flex-wrap">
        <div class="card max-w-md mt-4 shadow-sm" *ngFor="let card of cardService.data">
            <!-- Image Section -->
            <div class="position-relative">
                <img class="card-img-top object-fit-cover image" src="{{ card.ads_image_url }}" alt="Drone Image">
                <div class="position-absolute top-0 end-0 d-flex gap-2 p-2 " style="font-size: 20px;">
                    <span class="badge bg-light text-color-primary font-weight-semibold py-2 px-6 shadow-sm">
                        {{ translate.currentLang === 'en' ? (card.category?.name_en ?? 'no_name' | translate) :
                        (card.category?.name_ar ?? 'no_name' | translate) }}
                    </span>
                    <span class="badge bg-light text-color-primary font-weight-semibold py-2 px-6 shadow-sm">
                        {{ card.status }}
                    </span>
                </div>
            </div>

            <!-- Card Body Section -->
            <div class="card-body">
                <h5 class="card-title text-center text-dark">
                    {{ card.title }}
                </h5>

                <!-- Information Section -->
                <div class="mt-3 d-flex justify-content-between align-items-center text-center">
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="text-muted small mb-2">{{"internal_rate_return" | translate}}</p>
                        <img src="../../../../assets/images/location.svg" alt="icon" class="mb-2">
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="text-muted small mb-2">{{"economic_activity" | translate}}</p>
                        <img src="../../../../assets/images/location.svg" alt="icon" class="mb-2">
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <p class="text-muted small mb-2">{{"sector" | translate}}</p>
                        <img src="../../../../assets/images/location.svg" alt="icon" class="mb-2">
                    </div>
                </div>

                <!-- Details Section -->
                <div class="mt-3 text-center">
                    <div class="d-flex justify-content-between text-muted small">
                        <span>{{ card.internal_rate_return }}</span>
                        <span>{{ translate.currentLang == 'en' ? (card.currency?.name_en ?? 'no_price' | translate) :
                            (card.currency?.name_ar ?? 'no_price' | translate) }}</span>
                        <span>{{ translate.currentLang == 'en' ? card.sector_en : card.sector_ar ?? 'No sector'
                            }}</span>
                    </div>
                </div>

                <!-- Buttons Section -->
                <div class="mt-4 d-flex justify-content-center gap-2">
                    <button type="button" (click)="opportunitiesDetails(card.id)"
                        class="btn mt-4 px-4 py-2 rounded-lg  custom-button">
                        {{"view_opportunity" | translate}}
                    </button>
                    <button class="btn mt-4 px-4 py-2 rounded-lg  custom-button-secondary">
                        {{"request_opportunity" | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>