@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: "El Messiri", sans-serif; }


html[dir='ltr'] {
    
}


html[dir='rtl'] {
  
}

.custom-heading {
    text-align: center;
}

.text-color-primary {
    color: #01BBD6;
}

.custom-button-secondary {
    background-color: #01BBD6;
    color: #fff;
}